@import "tailwindcss";

@theme {
  --color-onyx: #0f0f0f;
  --color-onyx-light: #1a1a1a;
  --color-onyx-dim: #080808;
  --color-gold-accent: #D4AF37;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --animate-scroll: scroll 40s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  --animate-shine: shine 6s linear infinite;

  @keyframes shine {
    0% {
      transform: translateX(-200%) skewX(-20deg);
    }

    40% {
      transform: translateX(400%) skewX(-20deg);
    }

    100% {
      transform: translateX(400%) skewX(-20deg);
    }
  }


}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: var(--color-onyx);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-onyx);
}